.container
  .row
    - [ { issues: @backlog, title: 'Backlog', style: 'alert-warning' },
        { issues: @in_progress, title: 'In Progress', style: 'alert-info' },
        { issues: @done, title: 'Done', style: 'alert-success' } ].each do |column|
      .col-md-4
        %h4= column[:title]
        - column[:issues].each do |issue|
          .alert{ class: column[:style] }
            = issue['title']
